<form method="post" action="{{ path('app_service_delete', {'id': service.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce service ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="button is-danger is-light">
        <span class="icon">
            <i class="fas fa-trash"></i>
        </span>
        <span>Supprimer</span>
    </button>
</form>
