{% extends 'base.html.twig' %}
{% block title %}Formulaire de Prestation{% endblock %}
{% block body %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb mb-5" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="{{ path('app_service_index') }}">
                            <span class="icon"><i class="fas fa-concierge-bell"></i></span>
                            <span>Services</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="#" aria-current="page">
                            <span class="icon"><i class="fas fa-plus"></i></span>
                            <span>Nouveau service</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="box">
                <div class="level mb-4">
                    <div class="level-left">
                        <h2 class="title is-4">
                            <span class="icon-text">
                                <span class="icon"><i class="fas fa-plus"></i></span>
                                <span>Nouveau service</span>
                            </span>
                        </h2>
                    </div>
                </div>

                <div class="content">
                    {{ include('service/_form.html.twig', {
                        'button_label': 'Créer',
                        'button_icon': 'plus'
                    }) }}
                </div>

                <div class="level mt-5">
                    <div class="level-left">
                        <a href="{{ path('app_service_index') }}" class="button is-light">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Retour à la liste</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}