{% extends 'base.html.twig' %}

{% block title %}Dashboard Employé{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Bienvenue sur votre tableau de bord</h1>
        <h1>My Prestations</h1>
        <table>
            <thead>
            <tr>
                <th>Service</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% if prestations is empty %}
                <tr>
                    <td colspan="4">Aucune prestation trouvée pour vous.</td>
                </tr>
            {% else %}
                {% for prestation in prestations %}
                    <tr>
                        <td>{{ prestation.service.nom }}</td>
                        <td>{{ prestation.date|date('Y-m-d H:i') }}</td>
                        <td>{{ prestation.duree }} minutes</td>
                        <td>{{ prestation.statut }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>

        </table>
    </div>
    {% endblock %}

