{% extends 'base.html.twig' %}

{% block title %}Nouvelle prestation{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <nav class="breadcrumb mb-5" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <a href="{{ path('app_prestation_index') }}">
                            <span class="icon"><i class="fas fa-calendar-check"></i></span>
                            <span>Prestations</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a href="#" aria-current="page">
                            <span class="icon"><i class="fas fa-plus"></i></span>
                            <span>Nouvelle prestation</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="box">
                <div class="level mb-5">
                    <div class="level-left">
                        <h1 class="title">
                            <span class="icon-text">
                                <span class="icon"><i class="fas fa-plus"></i></span>
                                <span>Créer une nouvelle prestation</span>
                            </span>
                        </h1>
                    </div>
                </div>

                {{ include('prestation/_form.html.twig') }}

                <div class="level mt-5">
                    <div class="level-left">
                        <a href="{{ path('app_prestation_index') }}" class="button is-light">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Retour à la liste</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
