{% extends 'base.html.twig' %}

{% block title %}Nouvelle prestation{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Créer une nouvelle prestation</h1>

        <div class="card shadow-sm p-4">
            {{ include('prestation/_form.html.twig') }}
        </div>

        <a href="{{ path('app_prestation_index') }}" class="btn btn-secondary mt-3">
            ← Retour à la liste
        </a>
    </div>
{% endblock %}
