{% extends 'base.html.twig' %}

{% block title %}Créer un client{% endblock %}

{% block body %}
<form method="post" action="{{ path('app_employee_delete', {'id': employee.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet employé?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
</form>
{% endblock %}